* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: black;
}

button {
  width: 45%;
  height: 7vh;

  margin: 5px;

  font-size: 2rem;

  background-color:yellowgreen;
  color: white;

  border-radius: 10px;
  border-style: none;

  cursor: pointer;
}
