.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 70%;
  height: 100%;
  margin: 10px;
  background-image: linear-gradient(lime,purple);
  color: white;
  border: solid 3px black;
  border-radius: 10px;
  margin: auto;
}

.item{
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: azure;
  width: auto;
  height: auto;
  margin: auto;

  border: solid 3px black;
  border-radius: 10px;
  margin: auto;
}
